:root{
    --color-principal: #ecfff6;
    --color-textos: #43c931;
}

body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    padding-top: 80px;
}

.icono-menu{
    font-size: 30px;
}

.logo-imagen{
    width: 3rem;
}

.nav-a:hover{
    font-size: 18px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    background: rgba(255, 255, 255, 0.1) !important;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar-brand{
    color: var(--color-textos) !important;
}

.nav-link{
    color: var(--color-textos) !important;
}

.fondo{
    background-color: var(--color-principal);
}

.etiqueta{
    margin-top: 100px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #b4ffbb8c;
    color: var(--color-textos);
    border-radius: 10px;
    font-size: 14px;
}

.header-index{
    text-align: center;
}

.h1-index{
    color: var(--color-textos);
    max-width: 900px;
    margin: 20px auto;
    font-size: 75px;
    line-height: 1.1;
    text-align: center;
}

.p-header{
    color: #666;
    font-size: 25px;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
}

.btn-nav:hover{
    background-color: #43c931;
}

.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    box-shadow: none !important;
    outline: none !important;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.botones a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
}

.btn-principal{
    background: linear-gradient(to right, #55bb48, #43c931);
    color: white;
}

.btn-secundario{
    background-color: white;
    color: black;
    border: 1px solid #d1d5db;
}

.btn-principal:hover{
    background: #7ad36e;
}

.btn-secundario:hover{
    background-color: var(--color-textos);
    color: white;
    transition: all 0.2s; 
}

.h2-index{
    padding-top: 30px;
    color: var(--color-textos);
    max-width: 900px;
    margin: 20px auto;
    font-size: 35px;
    line-height: 1.1;
    text-align: center;
}

.hr-index{
    padding-top: 30px;
    padding-bottom: 30px;
}

.index-main{
    margin: 1rem 2rem;
}

.main-card{
    background-color: #fbfffc;
    border: 1px solid #43c93181;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.last-card{
    margin-bottom: 100px;
}

.img-main{
    background-color: var(--color-principal);
    border: 1px solid #43c931;
    border-radius: 0.5rem;
    padding: 10px;
    margin-bottom: 10px;
}