:root{
    --color-principal: #ecfff6;
    --color-textos: #43c931;
}

body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.icono-menu{
    font-size: 30px;
}

.logo-imagen{
    width: 4rem;
}

.nav-a:hover{
    font-size: 18px;
}

.fondo{
    background-color: var(--color-principal);
}

.etiqueta{
    margin-top: 100px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #b4ffbb8c;
    color: var(--color-textos);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500px;
}

.header-index{
    text-align: center;
}

.h1-index{
    color: var(--color-textos);
    max-width: 900px;
    margin: 20px auto;
    font-size: 75px;
    line-height: 1.1;
    text-align: center;
}

.p-header{
    color: #666;
    font-size: 25px;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botones a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
}

.btn-principal{
    background: linear-gradient(to right, #55bb48, #43c931);
    color: white;
}

.btn-secundario{
    background-color: white;
    color: black;
    border: 1px solid #d1d5db;
}

.btn-principal:hover{
    background: #7ad36e;
}

.btn-secundario:hover{
    background-color: #43c931;
    color: white;
    transition: all 0.2s; 
}